[submodule "MODULO2/M2_EvaluacionModulo"]
	path = MODULO2/M2_EvaluacionModulo
	url = git@github.com:MSSROXY/M2_EvaluacionModulo.git
[submodule "MODULO2/M2_AE6_ABP-Ejercicio-individual"]
	path = MODULO2/M2_AE6_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M2_AE6_ABP-Ejercicio-individual.git
[submodule "MODULO5/Ejercicios/AE2_ABP-Ejercicio-individual-Actividad_Opcional"]
	path = MODULO5/Ejercicios/AE2_ABP-Ejercicio-individual-Actividad_Opcional
	url = git@github.com:MSSROXY/AE2_ABP-Ejercicio-individual-Actividad_Opcional.git
[submodule "MODULO2/M2_EvaluacionPortafolio"]
	path = MODULO2/M2_EvaluacionPortafolio
	url = git@github.com:MSSROXY/M2_Evaluacion_Portafolio.git
[submodule "MODULO3/M3_Evaluacion_modulo"]
	path = MODULO3/M3_Evaluacion_modulo
	url = git@github.com:MSSROXY/M3_Evaluacion_modulo.git
[submodule "MODULO3/M3_Evaluacion_portafolio"]
	path = MODULO3/M3_Evaluacion_portafolio
	url = git@github.com:MSSROXY/M3_Evaluacion_portafolio.git
[submodule "MODULO5/M5_Evaluacion_Portafolio"]
	path = MODULO5/M5_Evaluacion_Portafolio
	url = git@github.com:MSSROXY/M5_Evaluacion_Portafolio.git
[submodule "MODULO4/M4_AE2_ABP-Ejercicio-individual"]
	path = MODULO4/M4_AE2_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M4_AE2_ABP-Ejercicio-individual.git
[submodule "MODULO4/M4_AE4_ABP-Ejercicio-individual"]
	path = MODULO4/M4_AE4_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M4_AE4_ABP-Ejercicio-individual.git
[submodule "MODULO4/M4_AE5_ABPRO-Ejercicio-grupal"]
	path = MODULO4/M4_AE5_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M4_AE5_ABPRO-Ejercicio-grupal.git
[submodule "MODULO4/M4_AE6_ABPRO-Ejercicio-grupal"]
	path = MODULO4/M4_AE6_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M4_AE6_ABPRO-Ejercicio-grupal.git
[submodule "MODULO4/M4_Evaluaci-n-del-modulo"]
	path = MODULO4/M4_Evaluaci-n-del-modulo
	url = git@github.com:MSSROXY/M4_Evaluaci-n-del-modulo.git
[submodule "MODULO6/M6_AE3_ABPRO-Ejercicio-grupal"]
	path = MODULO6/M6_AE3_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M6_AE3_ABPRO-Ejercicio-grupal.git
[submodule "MODULO6/M6_AE4_ABPRO-Ejercicio-grupal"]
	path = MODULO6/M6_AE4_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M6_AE4_ABPRO-Ejercicio-grupal.git
[submodule "MODULO6/M6_AE5_ABPRO-Ejercicio-grupal"]
	path = MODULO6/M6_AE5_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M6_AE5_ABPRO-Ejercicio-grupal.git
[submodule "MODULO6/git@github.com:MSSROXY/M6_AE6_ABP-Ejercicio-individual.git"]
	path = MODULO6/git@github.com:MSSROXY/M6_AE6_ABP-Ejercicio-individual.git
	url = git@github.com:MSSROXY/M6_AE6_ABP-Ejercicio-individual.git
[submodule "MODULO6/M6_AE6_ABP-Ejercicio-individual"]
	path = MODULO6/M6_AE6_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M6_AE6_ABP-Ejercicio-individual.git
[submodule "MODULO6/M6_Evaluacion-del-modulo"]
	path = MODULO6/M6_Evaluacion-del-modulo
	url = git@github.com:MSSROXY/M6_Evaluacion-del-modulo.git
[submodule "MODULO6/M6_Evaluaci-n-del-portafolio"]
	path = MODULO6/M6_Evaluaci-n-del-portafolio
	url = git@github.com:MSSROXY/M6_Evaluaci-n-del-portafolio.git
[submodule "MODULO7/M7_AE2_ABP-Ejercicio-individual"]
	path = MODULO7/M7_AE2_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M7_AE2_ABP-Ejercicio-individual.git
[submodule "MODULO7/M7_AE3_ABPRO-Ejercicio-grupal"]
	path = MODULO7/M7_AE3_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M7_AE3_ABPRO-Ejercicio-grupal.git
[submodule "MODULO7/M7_AE5_ABP-Ejercicio-individual"]
	path = MODULO7/M7_AE5_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M7_AE5_ABP-Ejercicio-individual.git
[submodule "MODULO7/M7_AE6_ABPRO-Ejercicio-grupal"]
	path = MODULO7/M7_AE6_ABPRO-Ejercicio-grupal
	url = git@github.com:MSSROXY/M7_AE6_ABPRO-Ejercicio-grupal.git
[submodule "MODULO7/M7_Evaluacion-del-modulo"]
	path = MODULO7/M7_Evaluacion-del-modulo
	url = git@github.com:MSSROXY/M7_Evaluacion-del-modulo.git
