[submodule "MODULO2/M2_EvaluacionModulo"]
	path = MODULO2/M2_EvaluacionModulo
	url = git@github.com:MSSROXY/M2_EvaluacionModulo.git
[submodule "MODULO2/M2_AE6_ABP-Ejercicio-individual"]
	path = MODULO2/M2_AE6_ABP-Ejercicio-individual
	url = git@github.com:MSSROXY/M2_AE6_ABP-Ejercicio-individual.git
[submodule "MODULO5/Ejercicios/AE2_ABP-Ejercicio-individual-Actividad_Opcional"]
	path = MODULO5/Ejercicios/AE2_ABP-Ejercicio-individual-Actividad_Opcional
	url = git@github.com:MSSROXY/AE2_ABP-Ejercicio-individual-Actividad_Opcional.git
[submodule "MODULO2/M2_EvaluacionPortafolio"]
	path = MODULO2/M2_EvaluacionPortafolio
	url = git@github.com:MSSROXY/M2_Evaluacion_Portafolio.git
